/* All styles for your header Components live here */

div .container {
    width: 60%;
    border: 1px solid dodgerblue;
    display: flex;
    align-items: flex-start;

}

div .headerWrapper {
    width: 100%;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
}

div .headerTitle {
    font-weight: 600;
}