.clear {
    width: 282px;
    height: 94px;;
    font-size: 50px;
    background: #fefefe;
    color: #373737;
    border: 1px solid grey;
  }
  .clear:hover {
    background: midnightblue;
    color: azure;
  }
  .action {
    width: 94px;
    height: 94px;
    font-size: 50px;
    background: darkred;
    color: #fefefe;
    border: 1px solid grey;
    margin: 0;
  }
  .action:hover {
    background: lightcoral;
    color: #fefefe;
  }
  .number {
    width: 94px;
    height: 94px;
    font-size: 50px;
    background: #fefefe;
    color: #373737;
    border: 1px solid grey;
  }
  .number:hover {
    background: midnightblue;
    color: #fefefe;
  }
  .zero {
    width: 282px;
    height: 94px;
    font-size: 50px;
    background: #fefefe;
    color: #373737;
    border: 1px solid #373737;
  }
  .zero:hover {
    background: midnightblue;
    color: #fefefe;
  } 